{% extends 'base.html.twig' %}

{% block title %}QB PDF - Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h2>Choisissez un nouveau mot de passe</h2>
    {{ form_start(form, { 'attr': { 'class': 'form' } }) }}
        {{ form_row(form.newPassword) }}
        {{ form_row(form.confirmPassword) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
