{% extends 'base.html.twig' %}

{% block title %}QB PDF - Générer un PDF{% endblock %}

{% block body %}
    <h2>
        {% if subscriptionId == 4 %}
            Voici votre conversion disponible grâce à votre abonnement :
        {% elseif subscriptionId  %}
            Voici vos conversions disponibles grâce à votre abonnement :
        {% endif %}
    </h2>


    <p class="limit_per_day">
        {% if pdfCountToday >= maxPdf %}
            <span>⚠️ Vous avez atteint votre limite de conversions pour aujourd'hui. ⚠️</span>
        {% else %}
            Aujourd'hui, vous avez converti {{ pdfCountToday }} PDF sur <strong>{{ maxPdf }}</strong> possibles.
        {% endif %}
    </p>


    <div class="container generate">
        <!-- Offre Standard (disponible pour tous) -->
        <div class="offer offer-standard">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#393e41" d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg>
            <h3>URL</h3>
            <a href="{{ path('url-to-pdf') }}" class="offer-button">Convertir</a>
        </div>

        <!-- Offre Expert (bloquée si abonnement = 1) -->
        {% if subscriptionId >= 2 %}
            <div class="offer offer-expert">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512">
                        <path fill="#f6f7eb" d="M0 32l34.9 395.8L191.5 480l157.6-52.2L384 32H0zm308.2 127.9H124.4l4.1 49.4h175.6l-13.6 148.4-97.9 27v.3h-1.1l-98.7-27.3-6-75.8h47.7L138 320l53.5 14.5 53.7-14.5 6-62.2H84.3L71.5 112.2h241.1l-4.4 47.7z"/>
                    </svg>
                <h3>HTML</h3>
                <a href="{{ path('text-to-pdf') }}" class="offer-button">Convertir</a>
            </div>
        {% endif %}

        <!-- Offre Premium (bloquée si abonnement = 1 ou 2) -->
        {% if subscriptionId == 3 %}
            <div class="offer offer-premium">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--><path fill="#f6f7eb" d="M0 64C0 28.7 28.7 0 64 0L224 0l0 128c0 17.7 14.3 32 32 32l128 0 0 288c0 35.3-28.7 64-64 64L64 512c-35.3 0-64-28.7-64-64L0 64zm384 64l-128 0L256 0 384 128z"/></svg>
                <h3>Fichier</h3>
                <a href="{{ path('file-to-pdf') }}" class="offer-button">Convertir</a>
            </div>
        {% endif %}
    </div>    

{% endblock %}
