{% extends 'base.html.twig' %}

{% block title %}QB PDF - Profil{% endblock %}

{% block body %}

    <h2>Mon profil</h2>

    <section class="profil-page">
        <h4> {{ user.firstname }} {{ user.lastname }}</h4>
        <p class="email">{{ user.email }}</p>

        {% if pdfCount == 0 %}
            <p>Vous n'avez généré aucun PDF depuis votre inscription.</p>
        {% elseif pdfCount == 1 %}
            <p><span>{{ pdfCount }}</span> PDF généré depuis votre inscription.</p>
        {% else %}
            <p><span>{{ pdfCount }}</span> PDF générés depuis votre inscription.</p>
        {% endif %}
        <p>Vous avez l'abonnement <span>{{ user.subscription.name }}</span>.</p>
    </section>

    <ul class="profil-page__options">
        <li><a href="{{ path('app_logout')}}">Déconnexion</a></li>
    </ul>

    <form class="delete" action="{{ path('app_delete_profile') }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.')">
        <input type="hidden" name="_token" value="{{ csrf_token('delete_profile') }}">
        <button type="submit" class="btn btn-danger">Supprimer mon compte</button>
    </form>

{% endblock %}
